html {
    border-radius: 25px;
    background-color: #222223;
}

textarea {
    background-color: rgb(233, 233, 233);
    width: 400px;
    height: 300px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px black;
    text-align: center;
}

select {
    /* background-color: darkred;
    color: lightgrey; */
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 4px;
    outline: none;
}

button {
    /* background-color: darkred; */
    /* color: lightgrey; */
    font-size: 16px;
}

.status {
    color: red;
}

label {
    color: white;
    font-family: 'Nunito', sans-serif;
}

button {
    border-radius: 10px;
}

input {
    border-radius: 5px;
    background-color: darkred;
    color: white;
    margin-left: 5px;
}

body {
    min-width: 400px;
    /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align: middle;
}